{{ define "main" }}

{{ if (eq .Section "tags") }}

<!-- begin tags -->
<div class="tags">

  <div class="tags__inner">

    <div class="container">
      <div class="row">
        <div class="col col-12">
          <div class="tag__info">
            <h1 class="tag__name">{{ humanize .Title }}</h1>
            <div class="tag__counter">{{ len .Pages }} {{ if lt (len .Pages) 2 }}Post{{ else }}Posts{{ end }}</div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container">
      <div class="row animate">
        {{ range .Data.Pages }}
          {{ partial "article.html" . }}
        {{ end }}
      </div>
    </div>

  </div>

</div>
<!-- end tags -->

{{ else }}

<!-- begin page-head -->
<div class="container">
  <div class="row">
    <div class="col col-8 push-2 col-t-12 push-t-0">
      <div class="page-head">
        <h1 class="page-title">{{ .Title }}</h1>
        {{ if .Description }}
          <p class="page-description">{{ .Description }}</p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
<!-- end page-head -->

<div class="container animate">
  <div class="row">
    {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts" ) }}
    {{ range $paginator.Pages }}
      {{ partial "article" . }}
    {{ end }}
  </div>
</div>

{{ partial "pagination.html" . }}

{{ end }}

{{ end }}