<!-- begin related posts -->
<div class="container">
  <section class="related-posts animate">

    <div class="row">
      <div class="col col-12">
        <div class="container__inner">
          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">You may also like</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row grid">
      {{ range first 3 ( where ( where .Site.Pages.ByDate.Reverse ".Params.tags" "intersect" .Params.tags ) "Permalink" "!=" .Permalink ) }}
        {{ partial "article.html" . }}
      {{ end }}
    </div>
  </section>
</div>
<!-- end related posts -->