{{ if .Site.Params.blog.enable }}
<!-- begin blog -->
<section class="section blog animate">
  <div class="container">
    <div class="row">
      <div class="col col-12">
        <div class="contaniner__inner">

          <div class="section__info">
            <div class="section__head">
              <h2 class="section__title">{{ .Site.Params.blog.blog__title | safeHTML }}</h2>
            </div>
            {{ if .Site.Params.blog.blog__description }}
              <p class="section__description">{{ .Site.Params.blog.blog__description }}</p>
            {{ end }}
          </div>

          <div class="row">
            {{ $paginator := .Paginate (where .Site.RegularPages "Type" "posts" | first 3 ) }}
            {{ range $paginator.Pages }}
              {{ partial "article.html" . }}
            {{ end }}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="section__navigation">
    <a href="/posts" class="button button--primary section-button">See all</a>
  </div>
</section>
<!-- end blog -->
{{ end }}